:root{
    --bg:rgb(235, 235, 235);
    --max-width: 1200px;
    --button: rgb(130, 240, 67);
    --card:white;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    background: var(--bg);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 16px;
    align-items: center;
    top: 10px;
    padding: 20px;
}

.menu-logo{
    font-size: 23px;
}

.link{
    display: flex;
    gap: 30px;
    font-size: 18px;
    text-decoration: none;

}

.link a{
    color: black;
    font-weight: 500px;
    text-decoration: none;
}
.link a:hover{
    color: red;
    transition: 0.4s;
    border-bottom:2px red solid;
}
.link li{
   list-style: none;
}
.link li:hover{
    transform: translateY(-5px);
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


@media(max-width: 768px) {

    .link {
        position: absolute;
        top: 70px;
        right: 200px;
        background: white;
        flex-direction: column;
        width: 200px;
        padding: 20px;
        display: none;
        border-radius: var(--radius);
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }


    .menu-icon {
        display: block;
    }

    
    #menu-toggle{
        display:contents;
    }
}


.container {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
}
.titulo-principal{

    color: black;
}
.subtitulo{
    color: black;
}

.hero {
    background: url(../img/img_tela1/belem-docas.jpg) center/cover no-repeat;
    position: relative;
    padding: 120px 0;
    color: white;
    text-align: left;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.719);
}

.hero-content {
    position: relative;
    z-index: 1;
}

/* ANIMAÇÃO */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero h1, .hero p {
    animation: fadeUp 1s ease;
}


.tabela{
    margin: auto;
    width: 95%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
}
.card{
    background: white;
    margin: 8px;
    border-radius: 12px;
    padding: 20px;

}

h2{
    color: black;
    border-bottom: 2px solid;
    max-width: 130px;
    text-align: center;
}
.text-saude{
    margin: 10px;
    padding: 5px;
}

.button-link{
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    background: var(--button);
    border-radius: 5px;
    color: white;
    transition: 0.5s ease;
}
.button-link:hover{
    color: rgb(0, 102, 255);
}


 .info{
    margin-top: 30px;
    text-align: center;
    background: white;
    border-radius: 40px;
 }


 h3{
    color: black;
    padding: 20px;
 }

 .info-texto{
    color: black;
    text-align: center;
    padding: 30px;
 }

 footer{
    background: black;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    margin-top: 80px;

}

.coment{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 10px;
    border-top: 0.5px solid rgb(177, 177, 177);
    padding: 20px;

}
.coment-box{
    background: white;
    padding: 10px;

}

.buttons{
    display: flex;
    justify-content: space-between;
}
.coment-button{
    padding: 10px;
    border-radius: 40%;
    
}