:root{
  --body:white;
  --preto: #0B0B0D;
  --verde-escuro: #41836d;
  --verde: #6BB39B;
  --verde-pastel: #85E6C0;
  --verde-creme: #DAF3EA;
  --pasta: #F7F4E8;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--body);
  overflow-x: hidden;
}
/* HERO */  
.hero {  
  text-align: center;
  padding: 210px 20px;
  background: url(/img/img_tela1/belem-docas.jpg) center/cover no-repeat;
  color: rgb(255, 255, 255);
  position: relative;

}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  font-family: apple-system, Comic Sans MS, Comic Sans, cursive;
}
.hero-content {
  position: relative;
  z-index: 1;
  padding: 50px;
  animation: fadeUp 4s ease;
}
.hero-content h1 {
  font-size: 40px;
}
.hero-content p {
  padding: 30px;
  font-size: 20px;
}

.hero-content h1,
.hero-content p {
  transform: translateY(-180px);
}

.hero-content .btn-hero {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background: var(--verde-escuro);
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid black;
  border-radius: 14px;
}

/* SERVIÇOS */
.servicos {
  padding: 50px;
  text-align: center;
}
h2 {
  padding-bottom: 30px;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 24px;
  padding: 40px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--body);
  width: 180px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.card a {
    text-decoration: none;
    font-size: 16px;
    color: var(--verde);
}

#map { height: 380px; }

/* SOBRE */
.sobre {
  padding: 50px;
  text-align: center;
  background: #DAF3EA;
}
/* CONTATO */
.contato {
  padding: 50px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}
input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
button {
  padding: 12px;
  border: none;
  background: var(--verde-pastel);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
#feedback {
  margin-top: 10px;
  font-weight: bold;
}
/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 30px;
}
/*Animação*/
    @keyframes fadeUp{
        from{
            opacity: 0;
            transform: translateY(40px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }