header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--verde-escuro);
    padding: 15px 30px;
    color: white;
    position: relative;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

li a:hover {
    transition: 0.3s; /* Reduzido de 0.7s para uma resposta mais fluida ao usuário */
    border-bottom: 2px solid white;
}

ul li {
    transition: transform 0.3s ease; /* Adicionado para suavizar a subida do item */
}

ul li:hover {
    transform: translateY(-5px);
}

.hamburguer {
    display: none;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
}

/* Media Query para Mobile */
@media (max-width: 768px) {
    .hamburguer {
        display: block; 
        z-index: 1001;
    }
    
    nav#menu {
        display: none; 
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        background: var(--verde);
        z-index: 1000;
    }
    
    nav#menu.active {
        display: block;
    }
    
    nav ul {
        flex-direction: column; 
        align-items: center;
        padding: 20px 0;
    }
}