<section class="nova-avaliacao-container">
    <div class="avaliacao-box">
        <h3><i class="fa-regular fa-comment-dots"></i> Deixe sua Avaliação</h3>
        <p>Compartilhe a sua experiência neste local para ajudar outros viajantes.</p>

        <form id="formAvaliacao" method="POST">
            {% csrf_token %}
            
            <div class="input-group-estrelas">
                <label>Sua nota:</label>
                <div class="estrelas-interativas" id="ratingStars">
                    <i class="fa-regular fa-star" data-value="1"></i>
                    <i class="fa-regular fa-star" data-value="2"></i>
                    <i class="fa-regular fa-star" data-value="3"></i>
                    <i class="fa-regular fa-star" data-value="4"></i>
                    <i class="fa-regular fa-star" data-value="5"></i>
                </div>
                <input type="hidden" id="nota_avaliacao" name="nota_avaliacao" value="0" required>
            </div>

            <div class="input-group">
                <label for="comentario_texto">Seu comentário</label>
                <textarea id="comentario_texto" name="comentario" rows="4" placeholder="Conte o que você mais gostou, o atendimento, os preços..." required></textarea>
            </div>

            <button type="submit" class="btn-enviar-avaliacao">Enviar Avaliação</button>
        </form>
        <p id="feedbackAvaliacao"></p>
    </div>
</section>