{% extends 'base.html' %}
{% load static%}
{% block content %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/css_de_restaurantes.css' %}">
    <!-- Inclua o script JS aqui -->
    
    <!-- Conteúdo Principal -->

<main class="container">
<section class="titulo">
    <h2>Remanso do Peixe</h2>
</section>
<!-- Animação de carrossel horizontalmente -->
<section class="carrossel">
    <div class="slides">
        <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/carrossel1.jpg' %}" alt="">
        <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/carrossel2.jpg' %}" alt="">
        <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/carrossel3.jpg' %}" alt="">
        <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/carrossel4.jpg' %}" alt="">
        <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/carrossel5.jpg' %}" alt="">
        <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/carrossel6.jpg' %}" alt="">
                
    </div>
</section>

<section class="accordion-container">
    <div class="accordion-item">
        <input type="checkbox" id="accordion-2" class="accordion-input">
        <label for="accordion-2" class="accordion-header">
            <span><i class="fas fa-award"></i> Diferenciais</span>
            <i class="fas fa-chevron-down arrow"></i>
        </label>
        <div class="accordion-content">
            <ul>
                <li>Culinária Amazônica Tradicional</li>
                <li>Ingredientes Regionais Frescos</li>
                <li>Ambiente Familiar</li>
                <li>Receitas Típicas Paraenses</li>
                <li>Atendimento Acolhedor</li>
            </ul>
        </div>
    </div>

    <div class="accordion-item">
        <input type="checkbox" id="accordion-3" class="accordion-input">
        <label for="accordion-3" class="accordion-header">
            <span><i class="fas fa-concierge-bell"></i> Facilidades</span>
            <i class="fas fa-chevron-down arrow"></i>
        </label>
        <div class="accordion-content">
            <ul>
                <li>Estacionamento</li>
                <li>Aceita Reservas</li>
                <li>Wi-Fi para Clientes</li>
                <li>Ambiente Climatizado</li>
                <li>Acesso para Pessoas com Deficiência</li>
            </ul>
        </div>
    </div>
</section>

<div class="titulo-preco">
    <h2>Estimativa de Gastos</h2>
</div>

<section class="precos">

    <article class="preco-card">
         <div class="card-carousel">
            <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/petiscos.jpg' %}" class="card-slide active" >
            <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/petiscos2.jpg' %}" class="card-slide">
            <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/petiscos3.jpg' %}" class="card-slide">
            <button class="card-prev" onclick="moveLocalSlide(this, -1)">❮</button>
            <button class="card-next" onclick="moveLocalSlide(this, 1)">❯</button>
        </div>
        <div class="preco-info">
            <h3>Entradas</h3>
            <p>Petiscos Regionais</p>       
            <p class="preco">R$ 25,00 a R$ 60,00</p>
            <button onclick="abrirModal('modal-entradas')">SAIBA MAIS</button>
        </div>
    </article>

    <article class="preco-card">
        <div class="card-carousel">
            <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/prato-principal1.jpg' %}" class="card-slide active">
            <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/prato-principal2.jpg' %}" class="card-slide">
            <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/prato-principal3.jpg' %}" class="card-slide">
            <button class="card-prev" onclick="moveLocalSlide(this, -1)">❮</button>
            <button class="card-next" onclick="moveLocalSlide(this, 1)">❯</button>
        </div>
        <div class="preco-info">
            <h3>Pratos Principais</h3>
            <p>Peixes e Especialidades Amazônicas</p>
            <p class="preco">R$ 55,00 a R$ 140,00</p>
            <button>Ver Cardápio</button>
        </div>
    </article>

    <article class="preco-card">
        <div class="card-carousel">
            <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/bebidas1.jpg' %}" class="card-slide active">
            <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/bebidas2.jpg' %}" class="card-slide">
            <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/bebidas3.jpg' %}" class="card-slide">
            <button class="card-prev" onclick="moveLocalSlide(this, -1)">❮</button>
            <button class="card-next" onclick="moveLocalSlide(this, 1)">❯</button>
        </div>
        <div class="preco-info">
            <h3>Bebidas e Sobremesas</h3>
            <p>Sucos Regionais e Doces</p>
            <p class="preco">R$ 10,00 a R$ 40,00</p>
            <button>Ver Cardápio</button>
        </div>
    </article>
</section>

<section class="restaurante-section">
    <article class="col col-left">
        <h2>Sobre o Remanso do Peixe</h2>
        <p>
        o Remanso do Peixe é um dos restaurantes de culinária paraense mais tradicionais da cidade.
        Ele fica no bairro do Marco e é famoso por pratos tradicionais da Amazônia,
        especialmente peixes de água doce e receitas regionais.

        O restaurante começou como um negócio familiar e tem ligação com a família do chef paraense Thiago Castanho.
        Inclusive, ele costuma aparecer em listas de lugares recomendados para quem quer experimentar a gastronomia
        típica de Belém.

        </p>
    </article>
    <article class="col col-center">
        <ul>
            <li><strong>Especialidade:</strong> Peixes Amazônicos</li>
            <li><strong>Culinária:</strong>Regional Paraense</li>
            <li><strong>Ambiente:</strong> Familiar e Aconchegante</li>
            <li><strong>Destaque:</strong> Filhote e Pirarucu</li>
            <li><strong>Reservas:</strong> Recomendadas em horários de pico</li>
        </ul>
    </article>

    <div class="col-1 col-right">
        <img src="{% static 'img/restaurantes/restaurantes-inv/remanso-peixe/sobre-remanso.jpg' %}" alt="Remanso do Peixe">
    </div>
</section>

<div id="modal-entradas" class="modal">
    <div class="modal-conteudo">
        <span onclick="fecharModal('modal-entradas')" class="fechar">
            &times;
        </span>

        <h1>Entradas</h1>

        <p>
            Petiscos regionais preparados com ingredientes típicos da
            culinária paraense.
        </p>

        <ul>
            <li>Bolinho de piracuí</li>
            <li>Camarão regional</li>
            <li>Iscas de peixe</li>
        </ul>
    </div>
</div>


</main>

    <footer>
        &copy; 2023 Belém Invisível. Todos os direitos reservados.
    </footer>
    
    <script src="{% static 'js/menu_hero.js' %}"></script>
    <script src="{% static 'js/carrossel-global.js' %}"></script>
<script>
    function abrirModal(id){
        document.getElementById(id).style.display = "flex";
    }

    function fecharModal(id){
        document.getElementById(id).style.display = "none";
    }
</script>
{% endblock %}
