{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Belém Invisível{% endblock %}</title>

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/cards_global.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/botao_subir.css' %}">
    
</head>
<body>

    {% include 'header_menu_hero.html' %}

    {% block content %}
    {% endblock %}

    <!-- CRIADO DIRETO NO HTML: Evita falhas caso o JS demore a carregar -->
    <button id="backToTop" title="Voltar ao topo">
        <i class="fa-solid fa-arrow-up"></i>
    </button>

    <!-- Scripts com versão para quebrar o cache do Django -->
    <script src="{% static 'js/carrossel-global.js' %}?v=1"></script>
    <script src="{% static 'js/botao_subir.js' %}?v=2"></script>
    <script src="{% static 'js/menu_hero.js' %}?v=2"></script>

</body>
</html>