<header>
    <div class="logo">Belém Invisível</div>
    <nav id="menu">
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'index' %}">Início</a></li>
            <li><a href="{% url 'tela-turismo' %}">Turismo</a></li>
            <li><a href="{% url 'tela-hoteis' %}">Hoteis</a></li>
            <li><a href="{% url 'tela-restaurante' %}">Restaurante</a></li>
            <li><a href="contato.html">Contato</a></li>
        </ul>
    </nav>
    <div class="hamburguer" id="hamburguer">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
</header>

    
