<header>
    <div class="logo">Belém Invisível</div>
    <nav id="menu">
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="index.html">Início</a></li>
            <li><a href="tela-turismo.html">Turismo</a></li>
            <li><a href="tela-hoteis.html">Hoteis</a></li>
            <li><a href="tela-restaurante.html">Restaurante</a></li>
            <li><a href="contato.html">Contato</a></li>
        </ul>
    </nav>
    <div class="hamburguer" id="hamburguer">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
</header>

    
