{% extends 'base.html' %}
{% load static %}
{% block title %}Turismo{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tela-turismo.css' %}">

<div class="carousel">
    <div class="carousel-images" id="carouselImages">
        <div class="slide">
            <img src="{% static 'img/lugares-turisticos/estacao-das-docas/estacao-docas-carrossel1.jpg' %}">
            <div class="overlay">
                <h2>Estação das Docas</h2>
                <p>Encontre as melhores experiências</p>
                <button>Ver Hotéis</button>
            </div>
        </div>
        <div class="slide">
            <img src="{% static 'img/lugares-turisticos/estacao-das-docas/estacao-docas-carrossel3.webp' %}">
            <div class="overlay">
                <h2>Estação das Docas</h2>
                <p>Venha provar o melhor da culinária paraense</p>
                <button>Ver horários</button>
            </div>
        </div>
        <div class="slide">
            <img src="{% static 'img/lugares-turisticos/ilha-combu/ilha-combu-carrossel1.jpeg' %}">
            <div class="overlay">
                <h2>Ilha do Combu</h2>
                <p>Relaxe com a melhor vista</p>
                <button>Reservar</button>
            </div>
        </div>
        <div class="slide">
            <img src="{% static 'img/lugares-turisticos/ilha-cotijuba/ilha-de-cotijuba-carrossel1.png' %}">
            <div class="overlay">
                <h2>Ilha de Cotijuba</h2>
                <p>Vem conhecer </p>
                <button>Conhecer</button>
            </div>
        </div>
    </div>

    <button class="prev" id="prevBtn"><i class="fa-solid fa-circle-arrow-left"></i></button>
    <button class="next" id="nextBtn"><i class="fa-solid fa-circle-arrow-right"></i></button>
    <div class="dots" id="dots"></div>
</div>

<!--Lugares-->
<div>
        <h3 class="titulo">
            <span>Lugares Populares</span>
        </h3>
        <p class="paragrafo">
            Descubra os melhores pontos turísticos para
            visitar em Belém e região
        </p>
</div>

<section class="Lugares-pop">
        <div class="cards">
            <article class="card">
                <span class="favorito">❤</span>
                <img src="{% static 'img/lugares-turisticos/estacao-das-docas/Estação das docas.jpg' %}" alt="">
                <h3>Estação das Docas</h3>
                <p>
                    A Estação das docas está localizada na Av. Boulevard Castilho França, 
                    s/n - Cidade Velha (próximo ao Ver-o-Peso)
                </p>
                <a class="botao-turismo" href="{% url 'tela_estacao_docas' %}">Ver mais</a>
            </article>
            <article class="card">
                <span class="favorito">❤</span>
                <img src="{% static 'img/lugares-turisticos/ilha-cotijuba/ilha-de-cotijuba.jpg' %}" alt="">
                <h3>Ilha de Cotijuba</h3>
                <p>
                    situada no município de Belém, no estado do Pará, 
                    localizada a cerca de 20 a 22 km a noroeste do centro 
                    da capital
                </p>
                <a class="botao-turismo" href="{% url 'tela_ilha_cotijuba' %}">Ver mais</a>
            </article>

            <article class="card">
                <span class="favorito">❤</span>
                <img src="{% static 'img/lugares-turisticos/ilha-combu/ilha-do-combu.jpg' %}" alt="">
                <h3>Ilha do Combu</h3>
                <p>
                    A Ilha do Combu fica localizada no município de Belém, no estado do Pará, 
                    a apenas 15 minutos de barco. Situada no Rio Guamá
                </p>
                <a class="botao-turismo" href="{% url 'tela_ilha_combu' %}">Ver mais</a>
            </article>
        </div>
</section>

<!--Lugares-->
<div>
        <h3 class="titulo">
            <span>Lugares Invisíveis</span>
        </h3>
        <p class="paragrafo">
            Descubra os melhores pontos turísticos para
            visitar em Belém e região
        </p>
</div>

<section class="Lugares-inv">
        <div class="cards">
            <article class="card">
                <span class="favorito">❤</span>
                <img src="{% static 'img/lugares-turisticos/estacao-das-docas/Estação das docas.jpg' %}" alt="">
                <h3>Estação das Docas</h3>
                <p>
                    A Estação das docas está localizada na Av. Boulevard Castilho França, 
                    s/n - Cidade Velha (próximo ao Ver-o-Peso)
                </p>
                <a class="botao-turismo" href="{% url 'palacete_bolonha' %}">Ver mais</a>
            </article>
            <article class="card">
                <span class="favorito">❤</span>
                <img src="{% static 'img/lugares-turisticos/ilha-cotijuba/ilha-de-cotijuba.jpg' %}" alt="">
                <h3>Ilha de Cotijuba</h3>
                <p>
                    situada no município de Belém, no estado do Pará, 
                    localizada a cerca de 20 a 22 km a noroeste do centro 
                    da capital
                </p>
                <a class="botao-turismo" href="">Ver mais</a>
            </article>

            <article class="card">
                <span class="favorito">❤</span>
                <img src="{% static 'img/lugares-turisticos/ilha-combu/ilha-do-combu.jpg' %}" alt="">
                <h3>Ilha do Combu</h3>
                <p>
                    A Ilha do Combu fica localizada no município de Belém, no estado do Pará, 
                    a apenas 15 minutos de barco. Situada no Rio Guamá
                </p>
                <a class="botao-turismo" href="">Ver mais</a>
            </article>
        </div>
</section>

<!--Lugares-->
<div>
        <h3 class="titulo">
            <span>Praias</span>
        </h3>
        <p class="paragrafo">
            Descubra os melhores pontos turísticos para
            visitar em Belém e região
        </p>
</div>

<section class="praias">
        <div class="cards">
            <article class="card">
                <span class="favorito">❤</span>
                <img src="{% static 'img/lugares-turisticos/estacao-das-docas/Estação das docas.jpg' %}" alt="">
                <h3>Estação das Docas</h3>
                <p>
                    A Estação das docas está localizada na Av. Boulevard Castilho França, 
                    s/n - Cidade Velha (próximo ao Ver-o-Peso)
                </p>
                <a class="botao-turismo" href="">Ver mais</a>
            </article>
            <article class="card">
                <span class="favorito">❤</span>
                <img src="{% static 'img/lugares-turisticos/ilha-cotijuba/ilha-de-cotijuba.jpg' %}" alt="">
                <h3>Ilha de Cotijuba</h3>
                <p>
                    situada no município de Belém, no estado do Pará, 
                    localizada a cerca de 20 a 22 km a noroeste do centro 
                    da capital
                </p>
                <a class="botao-turismo" href="">Ver mais</a>
            </article>

            <article class="card">
                <span class="favorito">❤</span>
                <img src="{% static 'img/lugares-turisticos/ilha-combu/ilha-do-combu.jpg' %}" alt="">
                <h3>Ilha do Combu</h3>
                <p>
                    A Ilha do Combu fica localizada no município de Belém, no estado do Pará, 
                    a apenas 15 minutos de barco. Situada no Rio Guamá
                </p>
                <a class="botao-turismo" href="">Ver mais</a>
            </article>
        </div>
</section>


        <!--Comentários-->
    <section class="comentarios">
    <h3>Nossas Avaliações</h3>
    <div class="comentarios-container">
        <article class="comentario-card">
        <img src="{% static 'img/avatar/avatar1.jpg' %}" alt="Foto do visitante" class="avatar">
        <div class="comentario-conteudo">
            <h4>Maria Silva</h4>
            <p>"Experiência incrível! Belém é encantadora e a hospedagem foi perfeita."</p>
            <span class="estrelas">★★★★★</span>
        </div>
        </article>

        <article class="comentario-card">
        <img src="{% static 'img/avatar/avatar2.jpg' %}" alt="Foto do visitante" class="avatar">
        <div class="comentario-conteudo">
            <h4>João Pereira</h4>
            <p>"Adorei as dicas locais, me ajudaram muito a aproveitar a viagem."</p>
            <span class="estrelas">★★★★☆</span>
        </div>
        </article>

        <article class="comentario-card">
        <img src="{% static 'img/avatar/avatar3.jpg' %}" alt="Foto do visitante" class="avatar">
        <div class="comentario-conteudo">
            <h4>Ana Costa</h4>
            <p>"Ótimos restaurantes recomendados, realmente vale a pena conhecer."</p>
            <span class="estrelas">★★★★★</span>
        </div>
        </article>
    </div>
    </section>

<!--Footer-->
<footer>
    <p>
        &copy; 2023 Belém Invisível. Todos os direitos reservados.
    </p>
</footer>

<script src="{% static 'js/tela-turismo.js' %}"></script>


{% endblock %}
