<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Hotéis Belém</title>
  <link rel="stylesheet" href="/css/tela-hoteis.css"/>
  <link rel="stylesheet" href="/css/botao_subir.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<!-- O header será inserido aqui -->
<div id="header-placeholder"></div>
    <!-- Inclua o script JS aqui -->
<script src="/js/menu_hero.js"></script>

<div class="hero-header">
  <h1>🏨 Encontre Hotéis</h1>
  <input type="text" id="searchInput" placeholder="Buscar hotel ou cidade...">
</div>



<main>

<div class="carousel">


  <div class="carousel-images" id="carouselImages">

    <div class="slide">
      <img src="/img/img-hoteis/carroceu-1.jpg">
      <div class="overlay">
        <h2>Hotéis de Luxo</h2>
        <p>Encontre as melhores experiências</p>
        <button>Ver Hotéis</button>
      </div>
    </div>

    <div class="slide">
      <img src="img/img-hoteis/carroceu-2.jpg">
      <div class="overlay">
        <h2>Resorts Incríveis</h2>
        <p>Conforto e lazer em um só lugar</p>
        <button>Explorar</button>
      </div>
    </div>

    <div class="slide">
        <img src="/img/img-hoteis/carroceu-3.jpg">
      <div class="overlay">
        <h2>Rios Maravilhoso</h2>
        <p>Relaxe com a melhor vista</p>
        <button>Reservar</button>
      </div>
    </div>

    </div>

       <button class="prev" id="prevBtn"><i class="fa-solid fa-circle-arrow-left"></i></button>
       <button class="next" id="nextBtn"><i class="fa-solid fa-circle-arrow-right"></i></button>

    <div class="dots" id="dots"></div>
</div>

    <h2 class="sub-titulo">Onde ficar em Belém?</h2>  
<section id="hotel-data" style="display:none;">

  <template class="hotel">
    <h3 class="name">Hotel Amazon Park</h3>
    <p class="city">Belém</p>
    <p class="price">R$ 250/noite</p>
    <p class="desc">Amazon Park Hotel é uma excelente opção para uma estadia em Belém.
    Divirta-se com a piscina externa, peça algo para comer no restaurante ou 
    relaxe com uma bebida no bar ao lado da piscina.</p>
    <p class="location">3 min do aeroporto</p>
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.622954201582!2d-48.472922124998334!3d-1.4025630357643162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48b0051d506ed%3A0x8ec2a0a62d923724!2sAmazon%20Park%20Hotel!5e0!3m2!1spt-BR!2sbr!4v1777236711053!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen=""loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
    <p class="rating">8.8 (Excelente)</p>
    <a href="tela-hotel-amazon.html" class="btn-preco">Ver Preços</a>


<div class="amenities">

  <div class="amenity">
    <h4> <i class="fa-solid fa-utensils"></i> Alimentação</h4>
    
    <ul>
      <li>Café da manhã buffet incluso</li>
      <li>Restaurante no local</li>
      <li>Bar (inclusive próximo à piscina)</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-bed"></i> Quarto</h4>
    
    <ul>
      <li>Ar-condicionado</li>
      <li>Roupa de cama</li>
      <li>TV Smart (canais a cabo)</li>
      <li>Wi-Fi gratuito</li>
      <li>Banheiro privativo com amenities</li>
      <li>Cofre e telefone</li>
      <li>camas separadas</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-person-swimming"></i> Lazer e estrutura</h4>
    
    <ul>
      <li>Piscina ao ar livre (funciona o ano todo)</li>
      <li>Academia</li>
      <li>Wi-Fi rápido em todo hotel</li>
      <li>Estacionamento gratuito</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-suitcase"></i> Segurança</h4>
    
    <ul>
      <li>Cofre</li>
      <li>Extintor de incêndio</li>
    </ul>
  </div>

</div>

    <div class="images">
      <img src="/img/img-hoteis/amazon-park-1.webp">
      <img src="/img/img-hoteis/amazon-park-2.webp">
      <img src="/img/img-hoteis/amazon-park-3.webp">
    </div>
  </template>

  <template class="hotel">
    <h3 class="name">Ibis Styles Belém</h3>
    <p class="city">Belém</p>
    <p class="price">R$ R$ 330/noite</p>
    <p class="desc">O ibis Styles Belém Hangar é um hotel da rede econômica Ibis Styles, conhecida por oferecer hospedagens com bom custo-benefício,
      design moderno e praticidade para diferentes tipos de viajantes. <br>

      Localizado próximo ao aeroporto de Belém e ao centro de convenções,
      o hotel se destaca pela facilidade de acesso e pela proximidade com pontos turísticos importantes da cidade,
      como o Ver-o-Peso e a Estação das Docas.</p>
    <p class="rating">4/5</p>
    <p class="location">Fica na Av. Nazaré (área nobre de Belém)</p>
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63817.96976340059!2d-48.51154704608435!3d-1.402471501773977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48bf358383623%3A0xfd888f8412675d12!2sIbis%20Styles%20Belem%20Hangar!5e0!3m2!1spt-BR!2sbr!4v1777238402711!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <a href="tela-hotel-ibis.html" class="btn-preco">Ver Preços</a>

<div class="amenities">
  <div class="amenity">

    <h4><i class="fa-solid fa-utensils"></i> Alimentação</h4>
    <ul>
      <li>Café da manhã estilo buffet (bem variado)</li>
      <li>Restaurante no local</li>
      <li>Bar 24h com lanches e bebidas</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-bed"></i> Quarto</h4>
    <ul>
      <li>Ar-condicionado</li>
      <li>Roupa de cama</li>
      <li>TV Smart (canais a cabo)</li>
      <li>Wi-Fi gratuito</li>
      <li>Banheiro privativo</li>
      <li>Cofre e telefone</li>
      <li>Opções para casal, solteiro e família</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-person-swimming"></i> Lazer e estrutura</h4>
    <ul>
      <li>Piscina ao ar livre (funciona o ano todo)</li>
      <li>Academia</li>
      <li>Wi-Fi rápido em todo hotel</li>
      <li>Estacionamento gratuito</li>
      <li>Sauna</li>
      <li>Espaço para eventos</li>
      <li>Área de lazer</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-suitcase"></i> Serviços</h4>
    <ul>
      <li>Recepção 24h</li>
      <li>Pet friendly</li>
      <li>Lavanderia</li>
      <li>Sala de reuniões</li>
    </ul>
  </div>

</div>
  
    <div class="images">
      <img src="/img/img-hoteis/Ibis-styles-belem-1.jpg">
      <img src="/img/img-hoteis/Ibis-styles-belem-2.jpg">
      <img src="/img/img-hoteis/Ibis-styles-belem-3.jpg">
    </div>
  </template>

  <template class="hotel">
    <h3 class="name">Radisson Hotel Maiorana Jr Belém</h3>
    <p class="city">Belém</p>
    <p class="price">R$ 500 a R$ 700/noite</p>
    <p class="desc">O Radisson Hotel Maiorana Jr Belém é um hotel de padrão elevado, ideal para quem busca conforto,
    localização privilegiada e uma experiência mais completa na cidade. <br>
  
    O ambiente combina sofisticação e conforto, sendo muito bem avaliado pelos hóspedes,
    especialmente pela localização, qualidade dos quartos e atendimento. Inclusive,
    o hotel frequentemente aparece entre os melhores de Belém em rankings de avaliação.</p>
    <p class="location">Bairro Nazaré (área nobre)</p>
    <div class="map-container">
    <iframe map src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.5323893341506!2d-48.49157792417147!3d-1.4547272358351913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48f95cb9ab92b%3A0x647cbf2a05c04c00!2sRadisson%20Hotel%20Maiorana%20Belem!5e0!3m2!1spt-BR!2sbr!4v1776949026860!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <p class="rating">8.8 / 10</p>
    <a href="tela-hotel-radisson.html" class="btn-preco">Ver Preços</a>

  <div class="amenities">

  <div class="amenity">
    <h4><i class="fa-solid fa-utensils"></i> Alimentação</h4>
    <ul>
      <li>Café da manhã buffet incluso</li>
      <li>Serviço de quarto 24h</li>
      <li>Restaurante no hotel (culinária regional)</li>
      <li>Bar/lounge</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-bed"></i> Quarto</h4>
    <ul>
      <li>Ar-condicionado</li>
      <li>Frigobar</li>
      <li>TV Smart (canais a cabo)</li>
      <li>Wi-Fi gratuito</li>
      <li>Banheiro privativo</li>
      <li>Cofre e telefone</li>
      <li>camas separadas</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-person-swimming"></i> Lazer e estrutura</h4>
    <ul>
      <li>Piscina ao ar livre (funciona o ano todo)</li>
      <li>Academia</li>
      <li>Espaço para eventos</li>
      <li>Centro de negócios</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-suitcase"></i> Serviço</h4>
    <ul>
      <li>Estacionamento com manobrista</li>
      <li>Wi-Fi grátis em todo o hotel</li>
      <li>Pet friendly 🐶 (com taxa)</li>
      <li>Lavanderia</li>
    </ul>
  </div>

</div>

    <div class="images">
      <img src="/img/img-hoteis/Radisson-hotel-maiorana-jr-belem-1.jpg">
      <img src="/img/img-hoteis/Radisson-hotel-maiorana-jr-belem-2.jpg">
      <img src="/img/img-hoteis/Radisson-hotel-maiorana-jr-belem-3.jpg">
    </div>
  </template>

  <template class="hotel">
    <h3 class="name">Atrium Quinta de Pedras</h3>
    <p class="city">Belém</p>
    <p class="price">R$ 420/noite</p>
    <p class="desc">O Atrium Quinta de Pedras é um hotel charmoso e diferenciado em Belém,
    ideal para quem busca uma experiência mais histórica e aconchegante na cidade. <br>

    Localizado no bairro Cidade Velha — a região mais tradicional de Belém — o hotel funciona em um prédio histórico do século XVIII,
    o que dá ao ambiente um estilo único, com paredes de pedra e uma atmosfera que mistura passado e conforto moderno</p>
    <p class="rating">9.0 / 10</p>
    <p class="location">Bairro Cidade Velha (centro histórico)</p>
    <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.51739455862!2d-48.506784924998115!3d-1.4631846358450984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48e594fae0a4d%3A0x66dc9a457771e065!2sAtrium%20Quinta%20de%20Pedras!5e0!3m2!1spt-BR!2sbr!4v1777238503049!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <a href="tela-hotel-Atrium.html" class="btn-preco">Ver Preços</a>

<div class="amenities">

  <div class="amenity">
    <h4><i class="fa-solid fa-utensils"></i> Alimentação</h4>
    <ul>
      <li>Café da manhã buffet incluso</li>
      <li>Restaurante no local</li>
      <li>Bar/lounge</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-bed"></i> Quarto</h4>
    <ul>
      <li>Ar-condicionado</li>
      <li>TV Smart (canais a cabo)</li>
      <li>Wi-Fi gratuito</li>
      <li>Banheiro privativo com amenities</li>
      <li>Alguns quartos com vista pra piscina ou jardim</li>
      <li>camas separadas</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-person-swimming"></i> Lazer e estrutura</h4>
    <ul>
      <li>Piscina ao ar livre (funciona o ano todo)</li>
      <li>Academia</li>
      <li>Espaço para eventos</li>
      <li>Spa / centro de bem-estar</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-suitcase"></i> Serviços</h4>
    <ul>
      <li>Recepção 24h</li>
      <li>Wi-Fi grátis</li>
      <li>Serviço de quarto</li>
      <li>Salas de reunião</li>
      <li>Lavanderia</li>
    </ul>
  </div>

</div>

    <div class="images">
      <img src="/img/img-hoteis/atrium-quinta-de-pedras-1.jpg">
      <img src="/img/img-hoteis/atrium-quinta-de-pedras-2.jpg">
      <img src="/img/img-hoteis/atrium-quinta-de-pedras-3.jpg">
    </div>
  </template>

  <template class="hotel">
    <h3 class="name">Transamerica Executive Belém Aeroporto</h3>
    <p class="city">Belém</p>
    <p class="price">R$ 409 a R$ 689/noite</p>
    <p class="desc">O Transamerica Executive Belém Aeroporto é um hotel moderno e prático,
     ideal para quem busca comodidade e rapidez, principalmente em viagens com voos próximos. <br>

    localizado literalmente ao lado do Aeroporto Internacional de Belém (Val-de-Cans), o grande diferencial do hotel 
    é a proximidade imediata com o terminal, permitindo que o hóspede chegue a pé, sem precisar de transporte — algo perfeito para 
    voos muito cedo, conexões ou chegadas noturnas.</p>
    <p class="rating">9.1 / 10</p>
    <p class="location"><i class="fa-solid fa-map-location-dot"></i>Avenida Júlio César (Val-de-Cans)</p>
    <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.643486522102!2d-48.483721224998355!3d-1.3904646357489103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a4893ea8ae4d15%3A0x31bc526165879230!2sTransamerica%20Executive%20Bel%C3%A9m%20Aeroporto!5e0!3m2!1spt-BR!2sbr!4v1777238565755!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <a href="tela-hotel-Transamerica.html" class="btn-preco">Ver Preços</a>
    <div class="amenities">

  <div class="amenity">
    <h4><i class="fa-solid fa-utensils"></i> Alimentação</h4>
    <ul>
      <li>Café da manhã buffet incluso</li>
      <li>Restaurante no Hotel</li>
      <li>Bar</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-bed"></i> Quarto</h4>
    <ul>
      <li>Ar-condicionado</li>
      <li>Mesa de trabalho</li>
      <li>TV Smart (canais a cabo)</li>
      <li>Wi-Fi gratuito</li>
      <li>Banheiro privativo com amenities</li>
      <li>Cofre e secador de cabelo</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-person-swimming"></i> Lazer e estrutura</h4>
    <ul>
      <li>Hotel moderno e bem equipado</li>
      <li>Academia</li>
      <li>Wi-Fi rápido em todo hotel</li>
      <li>Ideal pra estadias curtas ou trabalho</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-suitcase"></i> Serviços</h4>
    <ul>
      <li>Recepção 24h</li>
      <li>Wi-Fi grátis</li>
      <li>Serviço de quarto</li>
      <li>Serviço de quarto</li>
    </ul>
  </div>

</div>

    <div class="images">
      <img src="/img/img-hoteis/transamerica-executive-belem-aeroporto-1.webp">
      <img src="/img/img-hoteis/transamerica-executive-belem-aeroporto-2.webp">
      <img src="/img/img-hoteis/transamerica-executive-belem-aeroporto-3.webp">
    </div>
  </template>

  <template class="hotel">
    <h3 class="name">Grand Mercure Belém</h3>
    <p class="city">Belém</p>
    <p class="price">R$ 420/noite</p>
    <p class="desc">O Grand Mercure Belém do Pará é um hotel de padrão alto, ideal para quem busca uma hospedagem mais sofisticada,
    com boa estrutura e localização central na cidade.

    Localizado na Avenida Nazaré, uma das regiões mais valorizadas de Belém,
    o hotel fica próximo a pontos turísticos importantes como a Basílica de Nazaré, 
    Estação das Docas e o Ver-o-Peso, facilitando bastante a mobilidade para lazer ou trabalho. 
  
    O hotel segue a proposta da marca Grand Mercure, que mistura conforto moderno com identidade local, 
    oferecendo uma experiência mais completa e sofisticada dentro da cidade.
    </p>
    <p class="rating">7.5/10</p>
    <p class="location">Avenida Nazaré (bairro nobre)</p>
    <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.536014212457!2d-48.49415232100474!3d-1.4526753320264236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48e8fe4c7a7a5%3A0xb05a594b757cd61e!2sGrand%20Mercure%20Bel%C3%A9m%20do%20Par%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1777238637815!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <a href="tela-hotel-Grand Mercure.html" class="btn-preco">Ver Preços</a>

<div class="amenities">

  <div class="amenity">
    <h4><i class="fa-solid fa-utensils"></i> Alimentação</h4>
    <ul>
      <li>Café da manhã buffet incluso</li>
      <li>Restaurante Baccalá (comida regional + internacional)</li>
      <li>Restaurante no local</li>
      <li>Bar</li>
      <li>Serviço de quarto</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-bed"></i> Quarto</h4>
    <ul>
      <li>Ar-condicionado</li>
      <li>TV LED grande</li>
      <li>Wi-Fi gratuito</li>
      <li>Frigobar</li>
      <li>Mesa de trabalho</li>
      <li>Banheiro privativo</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-person-swimming"></i> Lazer e estrutura</h4>
    <ul>
      <li>Piscina (na cobertura)</li>
      <li>Academia</li>
      <li>Sauna</li>
      <li>Espaço kids</li>
      <li>Centro de eventos grande</li>
    </ul>
  </div>

  <div class="amenity">
    <h4><i class="fa-solid fa-suitcase"></i> Serviços</h4>
    <ul>
      <li>Recepção 24h</li>
      <li>Estacionamento gratuit</li>
      <li>Wi-Fi rápido</li>
      <li>Lavanderia</li>
      <li>Salas de reunião / eventos</li>
    </ul>
  </div>

</div>

    <div class="images">
      <img src="/img/img-hoteis/grand-mercure-belem-1.jpg">
      <img src="/img/img-hoteis/grand-mercure-belem-2.jpg">
      <img src="/img/img-hoteis/grand-mercure-belem-3.jpg">
    </div>
  </template>
</section>

    <section id="hotelList"></section>

</main>

  <!-- MODAL -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <span id="closeModal">&times;</span>
      <div id="modalBody"></div>
    </div>
  </div>
  
  <footer>
    <p>© 2026 Belém Invisível</p>
  </footer>

  <script src="/js/tela-hoteis.js"></script>
  
  <script src="/js/botao_subir.js"></script>
</body>
</html>