<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ibis Styles Belém Hangar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/tela-hotel-soft.css">
</head>
<body>
    <div id="header-placeholder"></div>
    <script src="js/menu_hero.js"></script>

    <main class="container">
        <section class="titulo">
            <h2>Hotel Soft</h2>
        </section>

        <section class="carrossel">
            <div class="slides">
                <img src="/img/img-turismo/hoteis/hotel-soft/Imagem-dentro1.webp" alt="">
                <img src="/img/img-turismo/hoteis/hotel-soft/Imagem-dentro2.webp" alt="">
                <img src="/img/img-turismo/hoteis/hotel-soft/Imagem-dentro3.webp" alt="">
                <img src="/img/img-turismo/hoteis/hotel-soft/Imagem-dentro4.webp" alt="">
                <img src="/img/img-turismo/hoteis/hotel-soft/Imagem-dentro5.webp" alt="">
                <img src="/img/img-turismo/hoteis/hotel-soft/Imagem-dentro6.webp" alt="">
            </div>
        </section>

        <section class="accordion-container">
            <div class="accordion-item">
                <input type="checkbox" id="accordion-1" class="accordion-input">
                <label for="accordion-1" class="accordion-header">
                    <span><i class="fas fa-concierge-bell"></i> Serviços do Estabelecimento</span>
                    <i class="fas fa-chevron-down arrow"></i>
                </label>
                <div class="accordion-content">
                    <ul>
                        <li>Café da manhã Gratuito</li>
                        <li>Estacionamento pago e privativo no local</li>
                        <li>Business Center com acesso à internet</li>
                        <li>Piscina</li>
                        </ul>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="accordion-2" class="accordion-input">
                <label for="accordion-2" class="accordion-header">
                    <span><i class="fas fa-bed"></i> Comodidades do Quarto</span>
                    <i class="fas fa-chevron-down arrow"></i>
                </label>
                <div class="accordion-content">
                    <ul>
                        <li>Ar-condicionado</li>
                        <li>Serviços de quato</li>
                        <li>Frigobar</li>
                        <li>Serviços de limpeza</li>
                        <li>Telefone</li>
                        <li>TV de tela plana</li>
                        <li>Cofre</li>
                    </ul>
                </div>
            </div>

            <div class="accordion-item">
                <input type="checkbox" id="accordion-3" class="accordion-input">
                <label for="accordion-3" class="accordion-header">
                    <span><i class="fas fa-door-open"></i> Tipos de Quarto</span>
                    <i class="fas fa-chevron-down arrow"></i>
                </label>
                <div class="accordion-content">
                    <ul>
                        <li>Standard</li>
                        <li>Família</li>
                        <li>Suítes</li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="titulo-preco">
            <h2>Preços das Diárias</h2>
        </div>

        <section class="precos">
            <article class="preco-card">
                <img src="/img/img-turismo/hoteis/hotel-soft/Imagem-dentro3.webp" alt="Suíte">
                <div class="preco-info">
                    <h3>Suíte</h3>
                    <p>2 pessoas | 1 cama King Size</p>
                    <p class="preco">R$ 689,00</p>
                    <button>Ver disponibilidade</button>
                </div>
            </article>

            <article class="preco-card">
                <img src="/img/img-turismo/hoteis/hotel-soft/Familia.jpg" alt="Quarto Família">
                <div class="preco-info">
                    <h3>Quarto Família</h3>
                    <p>4 pessoas | 1 casal + 1 sofá cama</p>
                    <p class="preco">R$ 549,00</p>
                    <button>Ver disponibilidade</button>
                </div>
            </article>

            <article class="preco-card">
                <img src="/img/img-turismo/hoteis/hotel-soft/Standard.jpg" alt="Quarto Standard">
                <div class="preco-info">
                    <h3>Quarto Standard</h3>
                    <p>2 pessoas | 1 casal ou 2 solteiro</p>
                    <p class="preco">R$ 364,00</p>
                    <button>Ver disponibilidade</button>
                </div>
            </article>
        </section>

        <section class="restaurante-section">
            <article class="col col-left">
                <h2>Sobre o Hotel Soft</h2>
                <p>
                    O BELEM SOFT HOTEL chega a Belem inserido em um moderno conceito 
                    de hotelaria que combina PRATICIDADE e ECONOMIA. Com a melhor localizacao 
                    da cidade, situado na Avenida Braz de Aguiar, uma das avenidas mais bonitas 
                    e arborizadas de Belem, o Hotel tem o privilegio de estar proximo de pontos 
                    turisticos, como o Teatro da Paz, Estacao das Docas, a Basilica Santuario de 
                    Nª.Srª. De Nazare, shoppings, pracas e restaurantes. Nossa equipe estara sempre 
                    disponivel para acolher os clientes, indicando-lhes o melhor da cidade de uma maneira 
                    personalizada.

                </p>
            </article>

            <article class="col col-center">
                <ul>
                    <li><strong>Restaurente</strong></li>
                    <li><strong>Serviço de lavanderia</strong></li>
                    <li><strong>Wifi gratuito</strong></li>
                    <li><strong>TV de tela plana</strong></li>
                    
                </ul>
            </article>

            <div class="col-1 col-right">
                <img src="img/img-turismo/hoteis/hotel-soft/hotel-soft-hotel.jpg" alt="Vista do Hotel">
            </div>
        </section>
    </main>

    <footer>
        &copy; 2023 Belém Invisível. Todos os direitos reservados.
    </footer>
    <script src="js/tela-hotel-ibis.js"></script>
</body>
</html>