{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/tela-ilha-combu.css' %}">
</head>

<main class="container">
<section class="titulo">
    <h2>Museu Forte do Presépio</h2>
</section>

<!-- Animação de carrossel horizontalmente -->
<section class="carrossel">
    <div class="slides">
        <img src="{% static 'img/lugares-turisticos/estacao-das-docas/estacao-docas-carrossel1.jpg' %}" alt="">
        <img src="{% static 'img/lugares-turisticos/estacao-das-docas/estacao-docas-carrossel2.webp' %}" alt="">
        <img src="{% static 'img/lugares-turisticos/estacao-das-docas/estacao-docas-carrossel3.webp' %}" alt="">
        <img src="{% static 'img/lugares-turisticos/estacao-das-docas/estacao-docas-carrossel4.jpeg' %}" alt="">
        <img src="{% static 'img/lugares-turisticos/estacao-das-docas/estacao-docas-carrossel5.jpg' %}" alt="">
        <img src="{% static 'img/lugares-turisticos/estacao-das-docas/estacao-docas-carrossel6.jpg' %}" alt="">
                
    </div>
</section>

<section class="accordion-container">

<div class="accordion-item">
    <input type="checkbox" id="accordion-2" class="accordion-input">
    <label for="accordion-2" class="accordion-header">
        <span><i class="fas fa-landmark"></i>Experiência no local</span>
        <i class="fas fa-chevron-down arrow"></i>
    </label>
    <div class="accordion-content">
        <ul>
            <li>Visitação ao museu arqueológico</li>
            <li>Conhecimento da história de Belém</li>
            <li>Vista para a Baía do Guajará</li>
        </ul>
    </div>
</div>

<div class="accordion-item">
    <input type="checkbox" id="accordion-3" class="accordion-input">
    <label for="accordion-3" class="accordion-header">
        <span><i class="fas fa-map-location-dot"></i>Atrações</span>
        <i class="fas fa-chevron-down arrow"></i>
    </label>
    <div class="accordion-content">
        <ul>
            <li>Museu do Encontro</li>
            <li>Canhões históricos</li>
            <li>Sítio Histórico da Fundação de Belém</li>
        </ul>
    </div>
</div>

<div class="titulo-preco">
    <h2>Estimativa de Gastos</h2>
</div>
</section>

<section class="precos">

<article class="preco-card">
    <img src="{% static 'img/lugares-turisticos/forte-do-presepio/entrada.jpg' %}" alt="">
    <div class="preco-info">
        <h3>Entrada</h3>
        <p>Visitação ao museu</p>
        <p class="preco">Consultar valor atual</p>
        <button>Ver detalhes</button>
    </div>
</article>

<article class="preco-card">
    <img src="{% static 'img/lugares-turisticos/forte-do-presepio/fotos.jpg' %}" alt="">
    <div class="preco-info">
        <h3>Fotografia</h3>
        <p>Registro das exposições</p>
        <p class="preco">Incluso na visita</p>
        <button>Ver detalhes</button>
    </div>
</article>

<article class="preco-card">
    <img src="{% static 'img/lugares-turisticos/forte-do-presepio/passeio.jpg' %}" alt="">
    <div class="preco-info">
        <h3>Passeio Cultural</h3>
        <p>Conhecimento histórico</p>
        <p class="preco">Incluso na visita</p>
        <button>Ver detalhes</button>
    </div>
</article>

</section>

<section class="restaurante-section">
     <article class="col col-left">
        <h2>Sobre o Museu Forte do Presépio</h2>
        <p>
            O Museu Forte do Presépio é um dos principais pontos turísticos de Belém.
            Localizado no coração da cidade, o museu abriga uma rica coleção de artefatos históricos
            e exposições que contam a história da Fundação de Belém.
        </p>
    </article>


    <article class="col col-center">
        <ul>
            <li>Museu do Encontro</li>
            <li>Cerâmica Marajoara</li>
            <li>Cerâmica Tapajônica</li>
            <li>Canhões Históricos</li>
            <li>Baía do Guajará</li>
        </ul>
    </article>

    <div class="col-1 col-right">
        <img src="{% static 'img/lugares-turisticos/forte-do-presepio/sobre-forte.jpg' %}" alt="">
    </div>
</section>
</main>

<footer>
    &copy; 2023 Belém Invisível. Todos os direitos reservados.
</footer>

    <script src="{% static 'js/tela-estacao-docas.js' %}"></script>    
    <script src="{% static 'js/tela-estacao-docas.js' %}"></script>
{% endblock %}